In [1]:
import os
import warnings
warnings.simplefilter(action='ignore')

import pandas as pd
from glob import glob

In [2]:
files = [y for x in os.walk('C:\\Users\\LENOVO\\Downloads\\data') for y in glob(os.path.join(x[0], '*.txt'))]

In [3]:
allowed = ['NIFTY', 'NIFTY_F1', 'BANKNIFTY', 'BANKNIFTY_F1']
files = list(filter(lambda x: x[:-4].split('\\')[-1] in allowed, files))

In [4]:
times = ['09:01', '09:02', '09:03', '09:04', '09:05', '09:06', '09:07', '09:08', '09:09', '09:10', '09:11', '09:12', '09:13', '09:14', '09:15', '09:16', '09:17', '09:18', '09:19', '09:20', '09:21', '09:22', '09:23', '09:24', '09:25', '09:26', '09:27', '09:28', '09:29', '09:30', '09:31', '09:32', '09:33', '09:34', '09:35', '09:36', '09:37', '09:38', '09:39', '09:40', '09:41', '09:42', '09:43', '09:44', '09:45', '09:46', '09:47', '09:48', '09:49', '09:50', '09:51', '09:52', '09:53', '09:54', '09:55', '09:56', '09:57', '09:58', '09:59', '10:00', '10:01', '10:02', '10:03', '10:04', '10:05', '10:06', '10:07', '10:08', '10:09', '10:10', '10:11', '10:12', '10:13', '10:14', '10:15', '10:16', '10:17', '10:18', '10:19', '10:20', '10:21', '10:22', '10:23', '10:24', '10:25', '10:26', '10:27', '10:28', '10:29', '10:30', '10:31', '10:32', '10:33', '10:34', '10:35', '10:36', '10:37', '10:38', '10:39', '10:40', '10:41', '10:42', '10:43', '10:44', '10:45', '10:46', '10:47', '10:48', '10:49', '10:50', '10:51', '10:52', '10:53', '10:54', '10:55', '10:56', '10:57', '10:58', '10:59', '11:00', '11:01', '11:02', '11:03', '11:04', '11:05', '11:06', '11:07', '11:08', '11:09', '11:10', '11:11', '11:12', '11:13', '11:14', '11:15', '11:16', '11:17', '11:18', '11:19', '11:20', '11:21', '11:22', '11:23', '11:24', '11:25', '11:26', '11:27', '11:28', '11:29', '11:30', '11:31', '11:32', '11:33', '11:34', '11:35', '11:36', '11:37', '11:38', '11:39', '11:40', '11:41', '11:42', '11:43', '11:44', '11:45', '11:46', '11:47', '11:48', '11:49', '11:50', '11:51', '11:52', '11:53', '11:54', '11:55', '11:56', '11:57', '11:58', '11:59', '12:00', '12:01', '12:02', '12:03', '12:04', '12:05', '12:06', '12:07', '12:08', '12:09', '12:10', '12:11', '12:12', '12:13', '12:14', '12:15', '12:16', '12:17', '12:18', '12:19', '12:20', '12:21', '12:22', '12:23', '12:24', '12:25', '12:26', '12:27', '12:28', '12:29', '12:30', '12:31', '12:32', '12:33', '12:34', '12:35', '12:36', '12:37', '12:38', '12:39', '12:40', '12:41', '12:42', '12:43', '12:44', '12:45', '12:46', '12:47', '12:48', '12:49', '12:50', '12:51', '12:52', '12:53', '12:54', '12:55', '12:56', '12:57', '12:58', '12:59', '13:00', '13:01', '13:02', '13:03', '13:04', '13:05', '13:06', '13:07', '13:08', '13:09', '13:10', '13:11', '13:12', '13:13', '13:14', '13:15', '13:16', '13:17', '13:18', '13:19', '13:20', '13:21', '13:22', '13:23', '13:24', '13:25', '13:26', '13:27', '13:28', '13:29', '13:30', '13:31', '13:32', '13:33', '13:34', '13:35', '13:36', '13:37', '13:38', '13:39', '13:40', '13:41', '13:42', '13:43', '13:44', '13:45', '13:46', '13:47', '13:48', '13:49', '13:50', '13:51', '13:52', '13:53', '13:54', '13:55', '13:56', '13:57', '13:58', '13:59', '14:00', '14:01', '14:02', '14:03', '14:04', '14:05', '14:06', '14:07', '14:08', '14:09', '14:10', '14:11', '14:12', '14:13', '14:14', '14:15', '14:16', '14:17', '14:18', '14:19', '14:20', '14:21', '14:22', '14:23', '14:24', '14:25', '14:26', '14:27', '14:28', '14:29', '14:30', '14:31', '14:32', '14:33', '14:34', '14:35', '14:36', '14:37', '14:38', '14:39', '14:40', '14:41', '14:42', '14:43', '14:44', '14:45', '14:46', '14:47', '14:48', '14:49', '14:50', '14:51', '14:52', '14:53', '14:54', '14:55', '14:56', '14:57', '14:58', '14:59', '15:00', '15:01', '15:02', '15:03', '15:04', '15:05', '15:06', '15:07', '15:08', '15:09', '15:10', '15:11', '15:12', '15:13', '15:14', '15:15', '15:16', '15:17', '15:18', '15:19', '15:20', '15:21', '15:22', '15:23', '15:24', '15:25', '15:26', '15:27', '15:28', '15:29', '15:30']

def clean(fname, savename):
    print(fname) 
    with open(fname, 'r') as f:
        x = f.readline().count(',')
        
    df = pd.read_csv(fname, header=None, names=['stock', 'date', 'time', 'o','h','l','c'] + [f'foo{i}' for i in range(x-6)])
    for i in range(x-6):
        df = df.drop(f'foo{i}', axis=1)
        
    stockname = df.iloc[0].stock
    df = pd.concat({stockname: df}, names=['stock'])
    df.drop('stock', axis=1, inplace=True)
    
    df['date'] = df['date'].apply(lambda x: f'{str(x)[:4]}-{str(x)[4:6]}-{str(x)[6:]}')
    dates = list(set(df['date']))
    dates.sort()
    
    index = pd.MultiIndex.from_tuples(list(zip(df['date'], df['time'])), names=["date", "time"])
    df = df.drop('date',axis=1).drop('time',axis=1).set_index(index)
    df = df[~df.index.duplicated(keep='last')]
    
    for date in dates:
        ftime = df.loc[date].index[0]
        try:
            find  = times.index(ftime)
        except ValueError as e:
            print(e, date)
            df.drop(date, level='date')
            continue
        
        """
        print("#####################")
        print(date, ftime, fname)
        print(df.loc[(date,ftime)])
        print("#####################")
        """
        
        
        val = float(df.loc[(date,ftime)]['o'])
    
        for i in range(find):
            df.loc[(date, times[i]), :] = val
        
        for i in range(find, len(times)):
            try:
                val = float(df.loc[(date, times[i]), :]['c'])
            except KeyError:
                df.loc[(date, times[i]),:] = val
    
    df.sort_index(inplace=True)
    
    for date in dates:
        lent  = len(df.loc[date])
        if lent>390:
            df.drop(zip([date]*(lent-390), df.loc[date].index[:-390]), inplace=True)
    df.to_pickle(f"{stockname}{savename}.pkl")

In [ ]:
for j, file in enumerate(files):
    clean(file, j)

C:\Users\LENOVO\Downloads\data\2015\AUG\BANKNIFTY_F1.txt

In [108]:
filespkl = list(filter(lambda x: x.endswith('.pkl'), os.listdir()))
filespkl.sort()
for pklfile, file in zip(filespkl, files):
    if "-I" in pklfile:
        os.rename(pklfile, pklfile.replace("-I", "_F1"))

In [109]:
def fixedname(name):
    if "_F1" in name:
        return name.replace("_F1", "F_")
    else:
        return name.replace("NIFTY", "NIFTY_")
    
for pklfile in filespkl:
    os.rename(pklfile, fixedname(pklfile))

In [21]:
filespkl = list(filter(lambda x: x.endswith('.pkl'), os.listdir()))
for pklfile in filespkl:
    df = pd.read_pickle(pklfile)
    stockname = pklfile.split('_')[0]
    if 'stock' not in df.index.names:
        df = pd.concat({stockname: df}, names=['stock'])
    
    if len(df)%390:
        print(pklfile)
        days = list(set(df.index.get_level_values(0)))
        for day in days:
            if len(df.loc[day]) != 390:
                print(len(df.loc[day]), day)
                df.drop(day, level='date', inplace=True)
    df.to_pickle(pklfile)

In [24]:
def rename(x):
    if x=='NIFTY':
        return 'nifty'
    if x=='BANKNIFTY':
        return 'bank'
    if x=='BANKNIFTYF':
        return 'bankf1'
    if x=='NIFTYF':
        return 'niftyf1'
    else:
        raise Exception

In [68]:
filespkl = list(filter(lambda x: x.endswith('.pkl'), os.listdir()))
filespkl.remove('main.pkl')
main = pd.read_pickle('main.pkl')
print(set(main.index.get_level_values(0)))

{'bank', 'bankf1', 'nifty', 'niftyf1'}

In [34]:
for pklfile in filespkl:
    df = pd.read_pickle(pklfile)
    stockname = df.index[0][0]
    df.reset_index(level=0, drop=True, inplace=True)
    df = pd.concat({rename(stockname): df}, names=['stock'])
    df.to_pickle(pklfile)

In [69]:
dfs = [pd.read_pickle(pklfile) for pklfile in filespkl]

In [70]:
combined = pd.concat(dfs)

                               o        h        l        c
stock  date       time
bankf1 2009-07-17 09:01  6960.00  6960.00  6960.00  6960.00
                  09:02  6960.00  6960.00  6960.00  6960.00
                  09:03  6960.00  6960.00  6960.00  6960.00
                  09:04  6960.00  6960.00  6960.00  6960.00
                  09:05  6960.00  6960.00  6960.00  6960.00
...                          ...      ...      ...      ...
nifty  2014-05-30 15:26  7233.25  7233.25  7226.50  7226.90
                  15:27  7226.65  7227.65  7222.25  7222.75
                  15:28  7222.20  7225.15  7220.20  7222.80
                  15:29  7222.90  7226.95  7217.15  7224.85
                  15:30  7221.90  7225.80  7220.50  7223.45

[5532930 rows x 4 columns]

In [85]:
ind = combined.index
temp = times*(len(combined)//390)
combined['time'] = temp
combined = combined.set_index('time', append=True).droplevel(2)

In [86]:
main = pd.concat([main, combined])
main = main[~main.index.duplicated(keep='last')]

In [88]:
main.to_pickle('newmain.pkl')